	/*
    This is the master stylesheet. Import all the stylesheet in here.
*/
@import "reset.less";

/* load theme configurations */

/*load fonts*/
@import "material-icons.less";
@import "fonts.less";
@import "variables.less";



body {
    .hammersmith;
    font-size: @defaultFontSize;
}

button > [data-react-toolbox="button"]{
}


.upload-file{
    background-color: #eee;
    width: 300px;
    position: relative;
    margin: auto;
    margin-top: 40px;
}
.app-container {
    
}

div[data-react-toolbox="overlay"] {
    > div {
        z-index: 10000 !important;
    }
}

