
@mainFont: "Hammersmith One";
@titleFont: "cinzel";
@textColor: white;
@titleColor: #eee;


@primaryColor: #333;
@secondaryColor: #eee;
@accentColor: #3f51b5;
@backgroundColor: #555;



@defaultFontSize: 12px;