
@mainFont: "Hammersmith One";
@titleFont: "cinzel";
@textColor: white;
@titleColor: #eee;


@primaryColor: #333;
@secondaryColor: #eee;
@accentColor: #3f51b5;
@backgroundColor: #555;

@thumbailBackgroundColor: rgba(0,0,0,0);
@thumbnailBackgroundColorSelected: #283593;


@defaultFontSize: 12px;